footer{
    background: $lightBlue;
    color: white;
    text-align: center;
    padding: 10px 20px;
    
    p{
            margin-bottom: 0;
            padding: 0;
    }

    a{
        color: white;
        text-decoration: none;

    }
}