// general search bar styles

.search-bar{
    display: flex;
    justify-content: space-between;
    background-color: $lightGrey;
    align-items: center;
    padding: 8px;
}

.input-search{
    border: none;
    outline: none;
    background-color: $lightGrey;
    width: 70px;
}

// mobile nav

nav {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    transition: height 0.3s ease, visibility 0s 0.3s;
    border-bottom: 1px solid $lightBlue;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

nav a {
    line-height: 40px;
    border-bottom: 1px solid $darkBlue;
    border-top: 1px solid $darkBlue;
    padding: 0 20px;
    color: white;
    background-color: $lightBlue;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    transition: 0.5s ease;
}

nav a:hover,
nav a:focus,
nav a:active {
    background-color: white;
    color: $lightBlue;
}

nav li:last-child a {
    border-bottom: 1px solid #afafaf;
}

.show nav {
    visibility: visible;
    height: 292px;
    transition: height 0.3s ease, visibiliy 0s;
}

/* Hamburger Styles */
.hamburger {
    display: block;
    border: none;
    background: transparent;
    padding: 10px;
    margin: 0;
    width: 55px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.hamburger:focus,
.hamburger-icon:focus {
    outline: none;
}

.nav-ul-large{
    display: none;
}

// social links inside nav



.social-links ul{
    display: flex;
    width: 100px;
    height: 42px;
    justify-content: space-between;
    background-color: transparent;
    margin: auto;
    border: none;
    overflow: hidden;

    .social-link{
        border: none;
    }

    a{
        text-align: center;
        background-color: white;
        color: $lightBlue;
        border: none;
        outline: none;
        padding: 0px 7px 0px 7px;
        margin: 0;
        font-size: 1.3em;
    }

    a:hover{
        color: $lightGrey;
    }
    
}


.social-links-top{
   display: none;
}

// media queries

@media (min-width: $tabletSmall){

    nav{
        display: none;
    }

    .hamburger{
        display: none;
    }

    .nav-large{
        background-color: $darkBlue;
    }

    .nav-ul-large{
        display: grid;
        max-width: $siteWidth;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-between;
        background-color: $darkBlue;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 9999;
        margin: 0 auto;


        a{
            text-decoration: none;
            color: white;
            background-color: $lightBlue;
            line-height: 40px;
            display: block;
            text-align: center;
            transition: 0.5s ease;
        }   
    }

    .nav-ul-large a:hover,
    .nav-ul-large a:focus,
    .nav-ul-large a:active {
        background-color: white;
        color: $lightBlue;
    }
}

@media(min-width: $tabletLarge){
    .social-links-top{
        display: block;
        margin-right: 10px;
    }
    .social-links-top ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        padding: 0;
    
        .social-link-top{
            border: none;
        }
    
        a{
            background-color: white;
            color: $lightBlue;
            border: none;
            outline: none;
            padding: 8px;
            margin: 0;
            font-size: 1.3em;
        }

    }

    .social-links-top a:hover, .social-links-top a:active{
        color: $darkGrey;
    }
}

@media (min-width: $desktopSmall){

    .nav-ul-large{
        grid-template-columns: repeat(6, 1fr);
    }

    .search-bar{
        width: 25vw;
        max-width: 350px;
        box-shadow: inset 0px 0px 3px 1px $darkGrey;
    }
}

