// colors

// left and right outside nav color, footer

$darkBlue: #005991;

// nav, side bar (and image border), heading and button color, 

$lightBlue: #1a71a9;

// search bar colors

$lightGrey: #dedede; // inner
$darkGrey: #bebebe; // border
$darkestGrey: #757575; // search text

// sidebar odd background color

$sideGrey: #e9e9e9; // side bar grey background

// dimensions

$siteWidth: 1000px;

// breakpoints



$mobileLarge: 330px; // logo change from FE to full
$tabletSmall: 500px; // search bar no more hamburger menu
$tabletMedium: 670px;
$tabletLarge: 700px; // with social icons
$desktopSmall: 780px; // sidebars on right